<?xml version='1.0' encoding='utf-8'?>
<widget id="com.open" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>file-test</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <engine name="android" spec="~6.2.2" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
